.container {
    display: flex;
}

.left-section {
    flex: 1;
    padding: 20px;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.square {
    width: 1cm;
    height: 1cm;
    margin: 5px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
}

img {
    width: 100%;
    /* height: 80%; */
    border: 1px solid #000;
    border-radius: 15px;
}

.controlBox {
    margin: 10px;
    margin-right: 15px;
    padding: 10px;

    display: flex;
}

.control {
    margin: 10px;
    margin-right: 15px;
    padding: 10px;

    display: flex;
}