<link rel="stylesheet" href="./info.component.css" />
<h1>Welcome to the Information</h1>
<div class="infoArea">
  <p>
    Head to our
    <a
      href="https://www.colourblindawareness.org/colour-blindness/types-of-colour-blindness/"
      >source</a
    >
    for a more in depth explanation into colorblindness.
  </p>
  <div class="infoDump">
    <p>
      Colorblindness as the name suggests is when someone does not perceive the
      world in the same vibrant colorful way as most of the world. This ailment
      can be more than just a lack of beauty in the world in some circumstances.
      The internet is an ever expanding world full of colorful websites and
      images that if not handled properly could be miss-represented to this
      portion of our communities. Our project aims to help everyone designing
      things on the internet create in a way that is accessible to as many
      people as possible, despite the way they see the world.
    </p>
    <p>
      The most common types of colorblindness is deuteranopia which means the
      person cannot perceive green light as well as others.
    </p>
    <img src="../../assets/pigment.jpg" alt="Normal vision" />
    <img src="../../assets/pigment_d.jpg" alt="Deuteranomalous vision" />
    <p>
      protanopia is the name for people who cannot perceive red light as well as
      others.
    </p>
    <img src="../../assets/pigment.jpg" alt="Normal vision" />
    <img src="../../assets/pigment_p.jpg" alt="protanomalous vision" />
    <p>
      The rarest of the types of colorblindness is tritanopia which as you may
      be able to guess at this point is the name for people who cannot perceive
      blue light as well as others.
    </p>
    <img src="../../assets/pigment.jpg" alt="Normal vision" />
    <img src="../../assets/pigment_t.jpg" alt="tritanomalous vision" />
    <p>
      Monochromacy is when the person perceives no color in their vision and
      sees the world in shades of grey.
    </p>
    <img src="../../assets/pigment.jpg" alt="Normal vision" />
    <img src="../../assets/pigment_g.jpg" alt="Monochromatic vision" />
  </div>
</div>
