<h2>Data Processing Step</h2>
<div class="container">
    <div class="left-section">
        <img *ngIf="filename" [src]="'http://localhost:5000/api/file/'+filename" alt="Uploaded Image">

        <div class="controlBox">
            <button class="control data-dz-remove" id="back-button">Back</button>
            <button class="control" id="next-button">Next</button>
        </div>
    </div>

    <div class="right-section">
        <div *ngIf="colors === undefined">Loading Colors...</div>
        <div class="color-squares">
          <div
            *ngFor="let color of colors; let i = index"
            class="square"
            [style.background-color]="color"
            (click)="appendColorToTextarea(color)"
          ></div>
        </div>
        <textarea #colors_text id="colors_text" rows="15"></textarea>
        <div>
          <button type="submit" (click)="addUnchangedColors(colors_text.value)">Submit colors</button>
        </div>
      </div>
      
</div>