@import "~bootstrap/dist/css/bootstrap.min.css";

.dropzone {
  font-size: x-large;
  display: flex;
  max-width: 600px;
  height: 450px;
  justify-content: center;
  /* border: 5px solid;
  border-color: rgb(46, 44, 44);
  border-radius: 10px; */
  margin: 15px;
  background-color: rgb(183, 183, 183);
}

.dropzone .dz-preview.dz-image-preview {
  background: none;
}

.controlBox {
  margin: 10px;
  margin-right: 15px;
  padding: 10px;

  display: flex;
}
.control {
  margin: 10px;
  margin-right: 15px;
  padding: 10px;

  display: flex;
}
