* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 70px;
  padding: 15px;
}

.control {
  margin: 10px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 0%;

  display: flex;
}
